# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env (nooit keys committen)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
next-env.d.ts
.env
.env.local
.next
node_modules
